@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    background: linear-gradient(to top left, #7fbdfd, #7870c4, #d4a8d0, #7fbdfd) fixed;
}

.wrapper{
    margin: 17px auto;
    width: 1200px;
    opacity: 0.9;
}

.head {
    border-radius: 5px;
}
.menu{
    margin: 17px auto;
    width: 1200px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.8;
    height: 50px;

}
.menu_table{
    float: right;
    margin-right: 10px;
}
.menu_table a {
    color: black;
    text-decoration: none;
}
.menu_table  td {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 10px;
}
.content_select_list {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-top: 15px;
}

.content_select_list li {
    margin-bottom: 15px;
}

.content_select_header {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    vertical-align: -40px;
}

.hr {
    width: 200px;
    opacity: 0.3;
}
.main_hr {
    margin-top: 23px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.content_select {
    text-align: center;
    float: left;
    box-sizing: content-box;
    background-color: white;
    height: 800px;
    opacity: 0.8;
    border-radius: 5px;
}

#option {
    width: 240px;
    margin-right: 10px;
    height: 330px;
}

.more{
    margin-top: 35px;
    width: 240px;
    margin-right: 10px;
    height: 279px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    padding-top: 180px;
}

#select{
    width: 1200px;
}

.footer {
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    margin: 10px auto;
    width: 1200px;
    height: 100px;
}

.footer_social_buttons {
    float: right;
    /*margin: 10px;*/
    margin-top: -45px;
    margin-right: 25px;
}
.button {
    padding-right: 10px;
    transition: 0.3s;
}
.button:hover{
    transform: scale(.9);
}
.footer_social {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-top: 40px;
}
.contacts {
    padding-left: 50px;
    padding-top: 33px;
}
strong {
    font-weight: bold;
}